{{#ifequal lang "sr-Latn"}}
<meta property="og:locale" content="sr_RS" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="og:url" content="https://vsjov.github.io/manifest-za-obnovu-srbije/" />
<meta property="og:image" content="/assets/images/og_image_sr.png" />
<meta property="og:image:alt" content="Manifest za obnovu Srbije" />
<meta name="twitter:image" content="/assets/images/og_image_sr.png" />
{{else}}
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="sr_RS" />
<meta property="og:url" content="https://vsjov.github.io/manifest-za-obnovu-srbije/index-en.html" />
<meta property="og:image" content="/assets/images/og_image_en.png" />
<meta property="og:image:alt" content="Manifesto for the Renewal of Serbia" />
<meta name="twitter:image" content="/assets/images/og_image_en.png" />
{{/ifequal}}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{title}}" />
{{#if metaDescription}}
<meta property="og:description" content="{{metaDescription}}" />
{{/if}}
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{title}}" />
{{#if metaDescription}}
<meta name="twitter:description" content="{{metaDescription}}" />
{{/if}}