// Font Weight Guide
// -----------------
// 100 - thin
// 200 - extralight
// 300 - light
// 400 - regular / normal
// 500 - medium
// 600 - semi-bold
// 700 - bold
// 800 - extrabold
// 900 - black / heavy

// Font Face Mixin
@mixin fontFace($fontName, $fileName, $fontWeight, $fontStyle) {
  @font-face {
    font-family: "#{$fontName}";
    src: url("#{$fileName}.woff2") format("woff2"),
         url("#{$fileName}.woff") format("woff");
    font-weight: #{$fontWeight};
    font-style: #{$fontStyle};
    font-display: swap;
  }
}


// Thin
@include fontFace("Noto Sans", "noto-sans-thin", 100, "normal");
// Thin Italic
@include fontFace("Noto Sans", "noto-sans-thin-italic", 100, "italic");
// Extra Light
@include fontFace("Noto Sans", "noto-sans-extra-light", 200, "normal");
// Extra Light Italic
@include fontFace("Noto Sans", "noto-sans-extra-light-italic", 200, "italic");
// Light
@include fontFace("Noto Sans", "noto-sans-light", 300, "normal");
// Light Italic
@include fontFace("Noto Sans", "noto-sans-light-italic", 300, "italic");
// Normal
@include fontFace("Noto Sans", "noto-sans-regular", 400, "normal");
// Italic
@include fontFace("Noto Sans", "noto-sans-italic", 400, "italic");
// Medium
@include fontFace("Noto Sans", "noto-sans-medium", 500, "normal");
// Medium Italic
@include fontFace("Noto Sans", "noto-sans-medium-italic", 500, "italic");
// Semi Bold
@include fontFace("Noto Sans", "noto-sans-semi-bold", 600, "normal");
// Semi Bold Italic
@include fontFace("Noto Sans", "noto-sans-semi-bold-italic", 600, "italic");
// Bold
@include fontFace("Noto Sans", "noto-sans-bold", 700, "normal");
// Bold Italic
@include fontFace("Noto Sans", "noto-sans-bold-italic", 700, "italic");
// Extra Bold
@include fontFace("Noto Sans", "noto-sans-extra-bold", 800, "normal");
// Extra Bold Italic
@include fontFace("Noto Sans", "noto-sans-extra-bold-italic", 800, "italic");
// Black
@include fontFace("Noto Sans", "noto-sans-black", 900, "normal");
// Black Italic
@include fontFace("Noto Sans", "noto-sans-black-italic", 900, "italic");
